Repository eclass/semantic-release-sentry-releases: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier-standard

.lintstagedrc.json:

{
  "{src,test}/**/*.js": ["eslint --fix", "prettier-standard"],
  "*.{json,yml,md,ts}": ["prettier-standard"]
}

chore(scripts): add lint:check
  .github/workflows/nodejs.yml
  package.json
Due: prettier-standard

style: apply prettier
  .commitlintrc.json
  README.md
Due: prettier-standard

chore(scripts): add format:check
  package.json
Due: prettier-standard

ci(test): add more tests
  .github/workflows/nodejs.yml
Due: prettier-standard

chore(deps): update lock
  package-lock.json
Due: prettier-standard

chore(nvm): set node v12.14.1
  .nvmrc
Due: none

chore(deps): downgrade @types/node and eslint-plugin-jsdoc
  package-lock.json
  package.json
Due: prettier-standard

chore(release): 2.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier-standard

Notes added by 'git notes add'
  ea500095dee904aa645f19deba4ef9c77ce18912
Due: none

chore(deps): update node.js to v12.22.3
  .nvmrc
  package-lock.json
  package.json
Due: prettier-standard

fix(request): logger request and url
  package-lock.json
  src/publish.js
  src/request.js
Due: eslint --fix, prettier-standard

chore(deps): update dependency eslint-plugin-import to v2.24.1
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency @sentry/types to v6.11.0
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency eslint to v7.32.0
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency eslint-plugin-sonarjs to v0.10.0
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency mocha to v9.1.0
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency @sentry/types to v6.12.0
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency typescript to v4.4.2
  package-lock.json
  package.json
Due: prettier-standard

ci(renovate): fix automerge
  .renovaterc.json
Due: prettier-standard

fix(logger): append response error to logger
  src/request.js
  test/publish.test.js
Due: eslint --fix, prettier-standard

fix(publish): fix set repository in commit logs
  README.md
  src/parse-commits.js
  src/publish.js
  src/request.js
  src/types.d.ts
  test/publish.test.js
Due: eslint --fix, prettier-standard

chore(release): 2.10.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier-standard

Notes added by 'git notes add'
  cec16ffe152dfda7746d12c69165c6400a83cd8a
Due: none

chore(deps): update dependency eslint-plugin-import to v2.24.2
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency husky to v7.0.2
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency lint-staged to v11.1.2
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency mocha to v9.1.1
  package-lock.json
  package.json
Due: prettier-standard

chore(deps): update dependency nock to v13.1.3
  package-lock.json
  package.json
Due: prettier-standard
