Repository eclass/semantic-release-sentry-releases: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(deps): update dependencies
  .eslintrc.json
  .lintstagedrc.json
  .prettierrc
  package-lock.json
  package.json
Due: prettier --write

chore(lintstaged): update linters
  .lintstagedrc.json
  package.json
Due: prettier --write

style: apply prettier
  CHANGELOG.md
  src/diff-tree.js
  src/errors.js
  src/get-assets.js
  src/get-error.js
  src/parse-commits.js
  src/publish.js
  src/request.js
  src/types.d.ts
  src/verify.js
  test/publish.test.js
  test/verify.test.js
Due: eslint --fix, prettier --write

chore(deps): update node versions
  .github/workflows/nodejs.yml
  .nvmrc
Due: prettier --write

chore(husky): add ts-compile-check
  .husky/pre-commit
Due: none

docs(readme): update dependencies badge
  README.md
Due: prettier --write

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ffb771ddc8541f32a366dabbbd5cfb4f73b9c8af
Due: none

chore(deps): update dependency eslint-plugin-jsdoc to v37.9.7
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @eclass/eslint-config to v3.0.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency mocha to v9.2.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update commitlint monorepo
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @sentry/types to v6.19.7
  package-lock.json
  package.json
Due: prettier --write

feat: refactoring and modernisation of the repository
  .eslintrc.json
  .github/workflows/nodejs.yml
  .releaserc.json
  .renovaterc.json
  LICENSE
  README.md
  package-lock.json
  package.json
  src/diff-tree.js
  src/errors.js
  src/get-assets.js
  src/request.js
  test/publish.test.js
  test/verify.test.js
Due: eslint --fix, prettier --write

fix(publish): support my-repo@[version] versions
  README.md
  src/publish.js
  test/publish.test.js
Due: eslint --fix, prettier --write

feat(update): release version
  .DS_Store
  .github/workflows/nodejs.yml
  .nvmrc
  CHANGELOG.md
  package-lock.json
  package.json
  src/types.d.ts
Due: prettier --write

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  455c4c1c789f67068ca66ec798a28615d9262749
Due: none

feat: add support for release prefix separator
  README.md
  src/publish.js
  src/types.d.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: {src,test}/**/*.js
  prettier --write: (any of: {src,test}/**/*.js) or (any of: *.{json,yml,md,ts})
